.animatedCoder {
  font-family: monospace;
  font-size: 10rem;
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 10s step-end infinite;
  /* align-items: center; */
  font-size: larger;
  text-align: center;
  color: black;
}
