.dotFlashing {
  position: relative;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #333;
  color: #333;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dotFlashing::before,
.dotFlashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dotFlashing::before {
  left: -1.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #333;
  color: #333;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dotFlashing::after {
  left: 1.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #333;
  color: #333;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #333;
  }
  50%,
  100% {
    background-color: #ccc;
  }
}
